/* GLOBAL */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.btn {
    background-color: transparent;
    border: none;
}

.pointer {
    cursor: pointer;
}

.grid {
    display: grid;
}

/* HEADER SECTION */
.header-parent {
    justify-content: space-around;
    align-items: center;
    /* gap: 50vw; */
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}
/* ---> header title */

/* ---> header details */
.header-library-details {
    grid-template-columns: 50px 50px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "header header"
        "totalTitle total"
        "readTitle read";
}
.header-library-details > .grid-item {
    /* padding: 0.25rem 0; */
}
.details-table-header {
    grid-area: header;
    text-align: center;
}
.details-total.title {
    grid-area: totalTitle;
}
.details-total.count {
    grid-area: total;
}
.details-read.title {
    grid-area: readTitle;
}
.details-read.count {
    grid-area: read;
}

.details-total.count,
.details-read.count {
    text-align: right;
}

/* MAIN SECTION */
/* ---> table */
#emptyRow {
    width: 100%;
    text-align: center;
}
/* @@@ reset table */
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}
th, td {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
}
tbody tr:nth-child(odd) {
    background: #eee;
}
.w-hundred {
    width: 100px;
    text-align: center;
}
.w-fifty {
    width: 50px;
    text-align: center;
}
.table-section > table {
    /* width: 100%; */
}